table {
    border-collapse: collapse;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}
h1, h2 {
    text-align: center;
}
table th, table td {
    border: 1px solid red;
    padding: 0.3em;
    text-align: center;
    height: 3em;
}
table th {
    background-color: #CECEF6;
    font-family: "comic sans ms";
}
table tr {
    background-color: #F5F6CE;
}
table tr:hover {
    background-color: #F5A9F2;
}

button {
    width:200px;
    height: 40px;
    margin: 50px 
}